POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=db
DB_PORT=5432
SERVER_PORT=8080
LOG_LEVEL=INFO
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://user:password@db:5432/db?sslmode=disable
READ_HEADER_TIMEOUT_SECOND=5
JWT_SECRET_KEY=your_secret_key
EXPIRATION_TIME_HOURS=24
TELEGRAM_BOT_TOKEN=7512383574:AORHWf9n-KnaPTKsPIztlbBlxpQGFac96HK
TWO_FA_HOST=bot
TWO_FA_PORT=8080
PPROF=true
